<!-- <h1>CLIENTE</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
    </tr>
  </thead>
  <tbody *ngFor="let pais of paisSvc.paises | async">
    <tr>
      <td>{{pais.Id}}</td>
      <td>{{pais.Name}}</td>
    </tr>
  </tbody>
</table>


<mat-tab-group #tabs>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<!-- <div [formGroup]="form">
  <div formArrayName="dinamic">
    <div *ngFor="let lessonForm of insert.controls; let i = index" style="margin:10px; display: flex; flex-wrap: wrap;">
      <div style="width:80%">
        <input matInput [formControlName]="i" placeholder="Lesson title">
        <mat-error *ngIf="lessonForm.errors?.['required'] && submit">
          El campo {{i}} es requerido
        </mat-error>
      </div>
    </div>

  </div>

  <button mat-raised-button color="primary" (click)="Add()" type="button">Add</button>

</div>-->

<form [formGroup]="form">
  <div class="flex">
    <ng-container *ngFor="let item of listData" [ngSwitch]="item.Type">
      <div *ngSwitchCase="'text'" class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{item.Description}}</mat-label>
          <input matInput type="text" [formControlName]="item.Name">
          <mat-error *ngIf="form.controls[item.Name].errors?.['required']">
            El campo {{item.Description}} es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'number'" class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{item.Description}}</mat-label>
          <input matInput type="number" [formControlName]="item.Name">
          <mat-error *ngIf="form.controls[item.Name].errors?.['required']">
            El campo {{item.Description}} es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'select'" class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{item.Description}}</mat-label>
          <mat-select type="text" [formControlName]="item.Name">
            <mat-option>
              Opción 1
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls[item.Name].errors?.['required']">
            El campo {{item.Description}} es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>
  </div>

  <button mat-raised-button color="primary" (click)="Add()" type="button">Add</button>
</form>
